<h1>Editing tutorial</h1>

<div class ="four columns">
  We use markdown!
</div>

<div class="twelve columns">

<%= render 'form' %>

<%= link_to 'Show', @tutorial %> |
<%= link_to 'Back', tutorials_path %>
</div>