<h1>Editing tutorial</h1>

<div class ="twelve columns">
  We use <a href="http://daringfireball.net/projects/markdown/basics">markdown!</a>
</div>

<div class="twelve columns">

<%= render 'form' %>

<%= link_to 'Show', @tutorial %> |
<%= link_to 'Back', tutorials_path %>
</div>