<div class="twelve columns">

  <h2><%= @tutorial.name %></h2>

  <%= @tutorial.content.markdown.html_safe %>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> | <%= link_to 'Back', subject_path(@tutorial.subject_id) %>

</div>