/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require base
 *= require layout
 *= require skeleton
 *= require_tree . 
*/

header .login {
  margin-left:0;
  margin-right:20px;
  float:right
}
header ul{margin:25px 0 0 0}
header ul li{display:inline;color:#0079aa;margin-right:20px}
header ul li a,header ul li a:visited,header ul li a:active{color:#0079aa;text-decoration:none}
header ul li a.hover{text-decoration:underline}
header nav {
  margin-left:20px;
  margin-right:0;
  float:left
}