#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
  }
  ul li {
    font-size: 12px;
    list-style: square; 
  } 
}

code {
  font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, Monospace, serif;
}
pre {
  padding:5px;
  font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, Monospace, serif;
  background-color:#eeeeee;
  margin-bottom: 20px;
}

.news {
	clear: left;
	margin: 30px 0;
	padding-bottom: 30px;
	border-bottom: 1px dotted #d5d5d5;
}
.news:last-child {
	padding-bottom: 50px;
	border-bottom: none;
}
.meta {
	color: #6B6967;
	margin: 16px 0 0;
	font: normal 14px/1.4em Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  padding-bottom: 20px;
}
.container {
  margin-bottom: 80px;
}